body{
    margin:30px;
}
#nav{
display: flex;
justify-content: flex-end;
cursor: pointer;

}
#nav a{
    margin-right:20px;
}
#nav .Menu img{
    width:25px;
    height:25px;
    margin-right: 20px;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
#nav .Photo img{
    border-radius:200px;
    
}
#logo img{

    width: 450px;
    height: 200px;
    margin-left: 430px;
    margin-top: 100px;
}
.Search{
    margin-left: 390px;
    margin-top: 10px;
}
.Search input:hover{
    box-shadow: 0 0 5px 2px rgb(214, 210, 210)
}
.Search input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:30px;
    padding-right:30px;
    outline: 0;
    width: 470px;
    border-radius: 20px;
    border:1px solid; color: rgb(136, 135, 133);
    
}
.Searchbar img{
    width:20px;
    height: 20px;
    margin-left: 395px;
    position: absolute;
    margin-bottom: 200px;
    top: 387px;
    
}
.Voice img{
    width:18px;
    height: 18px;
    margin-left: 895px;
    position: absolute;
    top: 387px;
}
.Button button{
    margin-left: 520px;
    margin-top: 40px;
    position: absolute;
    cursor: pointer;
}
.Buttons button{
    margin-left: 670px;
    position: absolute;
    top: 451px;  
    cursor: pointer;
}
.footer{
    background-color: rgb(202, 201, 188);
    right: 30px;
    height: 50px;
    width:1366px;
    position: relative;
    top:196px;
}

